<xc-master-detail [xc-master-detail-opened]="!!currentObject" xc-master-detail-side-area-size="small">
    <xc-panel master>
        <header>
            <h1>{{'Thresholds' | i18n}}</h1>
            <div class="items-right">
                <xc-icon-button
                    (click)="refresh()"
                    [disabled]="tableDataSource.refreshing"
                    [xc-icon-name]="XDSIconName.RELOAD" xc-icon-size="small" color="invert"
                    xc-tooltip="Refresh"
                    i18n-xc-tooltip
                ></xc-icon-button>
                <xc-icon-button (click)="add()" [xc-icon-name]="XDSIconName.ADD" xc-icon-size="small" color="invert" xc-tooltip="Add" i18n-xc-tooltip></xc-icon-button>
            </div>
        </header>
        <section class="stretch scroll">
            <xc-table
                [xc-table-datasource]="tableDataSource"
                xc-table-allowfilter
                xc-table-allowselect
                xc-table-allowsort
                xc-table-lazyupdate
        ></xc-table>
        </section>
    </xc-panel>

    <xc-panel detail *ngIf="currentObject" xc-form #xcForm="xc-form">
        <header>
            <h2 i18n>Details</h2>
            <div class="items-right">
                <xc-icon-button (click)="close()" [xc-icon-name]="XDSIconName.CLOSE" xc-icon-size="small" color="invert" xc-tooltip="Close" i18n-xc-tooltip></xc-icon-button>
            </div>
        </header>
        <section class="stretch scroll">
            <xc-form-autocomplete
                label="DHCP Relay"
                placeholder="Please choose"
                [(xc-form-autocomplete-option)]="dHCPRelayDataWrapper.value"
                [xc-form-autocomplete-options]="dHCPRelayDataWrapper.values"
                xc-form-field-suffix="clear"
                i18n-label
                i18n-placeholder
                xc-form-validator-required
                readonly
            ></xc-form-autocomplete>

            <xc-form-autocomplete
                label="Pool Type"
                placeholder="Please choose"
                [(xc-form-autocomplete-option)]="poolTypeDataWrapper.value"
                [xc-form-autocomplete-options]="poolTypeDataWrapper.values"
                xc-form-field-suffix="clear"
                i18n-label
                i18n-placeholder
                xc-form-validator-required
                readonly
            ></xc-form-autocomplete>

            <xc-form-input
                [(value)]="currentObject.threshold"
                label="Threshold (%)"
                xc-form-validator-number
                xc-form-validator-minvalue="1"
                xc-form-validator-maxvalue="99"
                i18n-label
            ></xc-form-input>
        </section>
        <footer>
            <div class="items-left">
                <xc-button (click)="close()" i18n>Cancel</xc-button>
            </div>
            <div class="items-right">
                <xc-button (click)="apply()" color="primary" [busy]="busy" [disabled]="busy || xcForm.invalid" i18n="cluster-details|apply">Apply</xc-button>
            </div>
        </footer>
    </xc-panel>
</xc-master-detail>